"**/checkpoints/" 
"**/__pycache__/" 
image to caption/__pycache__/
image to caption/checkpoints/
papers/word2vec/text8
papers/word2vec/text8*.zip
papers/word2vec/text8 (1).zip
papers/word2vec/text8 (2).zip
papers/word2vec/text8.zip

