mnist[[:space:]]beginner/mnist_train.csv filter=lfs diff=lfs merge=lfs -text
mnist[[:space:]]beginner/mnist_test.csv filter=lfs diff=lfs merge=lfs -text
first[[:space:]]cnn/data/cifar-10-python.tar.gz filter=lfs diff=lfs merge=lfs -text
